.message {
  background: #000a;
  padding: 1em;
  border-left: solid 2px orange;

  &[data-user="true"] {
    border-left: none;
    border-right: solid 2px orange;
  }

  transition: opacity 0.2s ease-in-out,
    transform 0.3s cubic-bezier(0.5, 0, 0.5, 1);

  @starting-style {
    opacity: 0;
    transform: scale(0, 0);
  }

  transform-origin: bottom left;
  &[data-user="true"] {
    transform-origin: bottom right;
  }
}

.timestamp {
  font-size: 0.8em;
  color: orange;
}
