.messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  max-height: 100vh;
  margin-bottom: 1rem;
  font-size: 20px;
}

.inputForm {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
}

.inputFormField {
  margin: 0;
}
